@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

:root {
  --barlow-font: "Barlow", sans-serif;
  --fraunces-font: "Fraunces", serif;
  --white: #fff;
  --dark-blue: #24303e;
  --dark-gray-blue: #808397;
  --darker-gray-blue: #5b636d;
  --yellow: #fad400;
  --cyan: #24554a;
  --ligher-cyan: #458d7e;
  --dark-cyan: #90d4c6;
  --gray-blue: #a7aaad;
  --black: #000;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

img {
  width: 100%;
}

body {
  font-size: 1.8rem;
  font-family: var(--barlow-font);
}

a {
  text-decoration: none;
}

ul,
address {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  font-family: var(--fraunces-font);
}

.hidden {
  display: none;
}

.opacity-50 {
  opacity: 50;
}

/* Main Header */

.main-header {
  position: relative;
  height: 53.8rem;
  background-image: url("./images/mobile/image-header.jpg");
  background-size: cover;
  background-position: center;
}

.main-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 32.9rem;
  margin: 0 auto;
  padding-top: 3.4rem;
}

.brand {
  height: 2.4rem;
  width: 12.5rem;
}

.icon {
  height: 2rem;
  width: 2rem;
}

.hamburger-icon {
  width: 2.4rem;
  height: 1.8rem;
}

.main-header__nav {
  display: none;
}

.main-header h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 14.4rem;
  font-size: 4rem;
  font-weight: 900;
  line-height: 4.9rem;
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.625rem;
}

.arrow-icon {
  height: 10.8rem;
  width: 3rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 29.4rem;
}

.nav-mobile-container {
  position: absolute;
  width: 32.9rem;
  z-index: 2;
  top: 82px;
  left: 50%;
  transform: translateX(-50%);
}

.nav-mobile {
  background-color: var(--white);
  width: 100%;
  color: #808397;
  text-align: center;
  padding-top: 6.3rem;
  padding-bottom: 3.9rem;
}

.nav-mobile ul {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.nav-mobile a {
  color: #808397;
  font-size: 2rem;
  line-height: 2.5rem;
}

.nav-mobile li:last-child a {
  background-color: #fbd600;
  width: max-content;
  margin: 0 auto;
  display: block;
  color: var(--black);
  padding: 1.6rem 3.2rem;
  border-radius: 2.8rem;
}

@media only screen and (min-width: 768px) {
  .main-header {
    height: 80rem;
    background-image: url("./images/desktop/image-header.jpg");
  }

  .main-header__wrapper {
    width: 100%;
    padding: 3.4rem 4rem;
  }

  .brand {
    height: 3.3rem;
    width: 17rem;
  }

  .hamburger-icon {
    display: none;
  }

  .main-header h1 {
    width: 100%;
    top: 19.5rem;
  }

  .arrow-icon {
    top: 36rem;
  }

  .main-header__nav {
    display: block;
  }

  .main-header__nav ul {
    display: flex;
    align-items: center;
    gap: 4.7rem;
  }

  .main-header__nav a {
    color: var(--white);
  }

  .main-header__nav li:last-child a {
    background-color: var(--white);
    color: var(--black);
    padding: 1.5rem 3rem;
    border-radius: 2.8rem;
    font-family: var(--fraunces-font);
    font-size: 1.5rem;
    line-height: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
  }
}

/* About */

.about {
  display: grid;
  grid-template-columns: 1fr;
}

.about img {
  display: block;
}

.about__info {
  text-align: center;
  padding: 6.4rem 2.4rem;
  color: var(--dark-blue);
}

.about__info h2 {
  line-height: 3.9rem;
  font-size: 3.2rem;
  margin-bottom: 2.4rem;
  font-weight: 900;
}

.about__info p {
  font-family: var(--barlow-font);
  color: var(--dark-gray-blue);
  font-weight: 600;
  line-height: 3rem;
  margin-bottom: 3.2rem;
}

.about__info button {
  position: relative;
  text-transform: uppercase;
  border: none;
  font-size: 1.5rem;
  background-color: transparent;
  letter-spacing: 0.1rem;
  font-weight: 900;
}

.about__info button::before {
  content: "";
  position: absolute;
  width: 13.5rem;
  height: 1rem;
  background-color: var(--yellow);
  opacity: 0.25;
  bottom: -0.2rem;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2.8rem;
}

@media only screen and (min-width: 768px) {
  .about {
    grid-template-columns: 1fr 1fr;
  }

  .about__info {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    max-width: 44.5rem;
    padding: 0 2.4rem;
    height: max-content;
  }

  .about__info h2 {
    font-size: 4rem;
    line-height: 4.9rem;
    margin-bottom: 3.2rem;
  }

  .about__info p {
    margin-bottom: 4rem;
  }

  .about img:first-of-type {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .about div:first-of-type {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

/* Services */

.service {
  height: 60rem;
  padding: 40rem 2.4rem 0;
  text-align: center;
  color: var(--cyan);
}

.service--design {
  background-image: url("./images/mobile/image-graphic-design.jpg");
  background-size: cover;
}

.service--photography {
  background-image: url("./images/mobile/image-photography.jpg");
  background-size: cover;
}

.service h3 {
  font-size: 2.8rem;
  line-height: 3.5rem;
  font-weight: 900;
  margin-bottom: 2.7rem;
}

.service p {
  font-size: 1.6rem;
  line-height: 2.7rem;
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  .services {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .service--design {
    background-image: url("./images/desktop/image-graphic-design.jpg");
    background-position: center;
  }

  .service--photography {
    background-image: url("./images/desktop/image-photography.jpg");
    background-position: center;
  }

  .service {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

/* Testimonials */

.testimonials__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 6.4rem;
  padding: 0 2.4rem;
  text-align: center;
  margin-bottom: 8.6rem;
}

.testimonials h4 {
  color: var(--gray-blue);
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 6.4rem;
  margin-bottom: 6.4rem;
}

.testimonials img {
  width: 7.2rem;
  height: 7.2rem;
  border-radius: 50%;
  margin-bottom: 3.2rem;
}

.testimonials blockquote {
  color: var(--darker-gray-blue);
  line-height: 3.2rem;
  margin-bottom: 3.2rem;
}

.testimonials .client-info p:first-child {
  font-family: var(--fraunces-font);
  line-height: 2.2rem;
  color: var(--dark-blue);
  font-weight: 900;
  margin-bottom: 0.9rem;
}

.testimonials .client-info p:last-child {
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: var(--gray-blue);
}

@media only screen and (min-width: 768px) {
  .testimonials {
    margin-top: 16rem;
    margin-bottom: 10rem;
  }

  .testimonials__wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    max-width: 111rem;
    margin: 0 auto;
  }

  .testimonials h4 {
    margin-bottom: 8rem;
  }

  .testimonials__wrapper figure {
    display: grid;
    justify-self: center;
    grid-template-columns: 1fr;
    grid-template-rows: 7.5rem 1fr 1fr;
  }

  .testimonials img {
    margin: 0 auto;
  }

  .testimonials blockquote {
    margin-top: 5.8rem;
  }

  .testimonials figcaption {
    margin-top: 3rem;
  }
}

/* Projects */
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.projects img {
  display: block;
}

@media only screen and (min-width: 768px) {
  .projects {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* Footer */

.main-footer {
  background-color: var(--dark-cyan);
  text-align: center;
  padding: 6.4rem 2.4rem 8rem;
}

.main-footer__brand {
  height: 3.3rem;
  width: 17rem;
}

.main-footer nav ul {
  display: flex;
  gap: 5.7rem;
  justify-content: space-evenly;
  margin: 4rem auto 0;
  max-width: 30rem;
}

.main-footer a {
  color: var(--ligher-cyan);
  line-height: 2.5rem;
}

.main-footer address {
  display: flex;
  gap: 2.8rem;
  margin-top: 8.8rem;
  justify-content: center;
}
